<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="https://localhost:44335"/>
    <add key="Prefix" value="/api/configuration/"/>
    <add key="Postfixs" value="apiconfig,autorun,crawlerconfig,keywords"/>
    <add key="NewsPost" value="/api/News/bunch"/>
  </appSettings>
</configuration>